<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Editar Proyecto - TechSolutions</title>
    <link rel="stylesheet" href="{% static 'nuevo_proyecto.css' %}">
    <link rel="stylesheet" href="{% static 'menu.css' %}">
</head>
<body class="cuerpo">
    <header class="contenedor">
        <div class="content">
            <div class="menu container">
                <a href="{% url 'inicio' %}" class="logo">INICIO</a>
                <input type="checkbox" id="menu"/>
                <label for="menu">
                    <img src="{% static 'menu.png' %}" class="menu-icono" alt="Menu">
                </label>
                <nav class="navbar">
                    <ul>
                        <li><a href="{% url 'catalogo_cuentas' %}">Catálogo de Cuentas</a></li>                         
                        <li><a href="{% url 'transacciones' %}">Transacciones</a></li>
                        <li><a href="{% url 'metodos-costeo' %}">Métodos de Costeo</a></li>
                        <li><a href="{% url 'reportes_contables' %}">Reportes Contables</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>  
</body>
<body class="cuerpo-registro">
    <main class="container">
        
        <!-- Formulario para editar un proyecto -->
        <form method="post" class="formulario">
            <h1>Editar Proyecto: {{ proyecto.nombre }}</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Guardar Cambios</button>
            <button type="button" class="button" onclick="window.location.href='{% url 'detalle_proyecto' proyecto.id %}'">Cancelar</button>
        </form>
    </main>
</body>
</html>
