<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'editar-catalogo.css' %}">
    <link rel="stylesheet" href="{% static 'menu.css' %}">
    <title>Editar Cuenta</title>
</head>
<body class="cuerpo">
    <header class="contenedor">
        <div class="content">
            <div class="menu container">
                <a href="{% url 'inicio' %}" onclick="confirmarRegresar(event)" class="logo">INICIO</a>
                <input type="checkbox" id="menu"/>
                <label for="menu" class="label-menu">
                    <img src="{% static 'menu.png' %}" class="menu-icono" alt="">
                </label>
                <nav class="navbar">
                    <ul>
                        <li><a href="{% url 'catalogo_cuentas' %}" onclick="confirmarRegresar(event)">Catalogo de cuentas</a></li>
                        <li><a href=""onclick="confirmarRegresar(event)">Reportes contables</a></li>
                        <li><a href="{% url 'transacciones' %}"onclick="confirmarRegresar(event)">Transacciones</a></li>
                        <li><a href=""onclick="confirmarRegresar(event)">Metodos de costeo</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>  
</body>
<body>
    <form class="formulario" method="post">
        <h1>Editar Cuenta: {{ cuenta.codigo }}</h1>       
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar</button>
            <a href="{% url 'catalogo_cuentas' %}"><button>Cancelar</button></a>
    </form>    
</body>
</html>
