<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Cuenta</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'registrar_cuenta.css' %}">
    <script>
        // Función para mostrar mensaje de confirmación si hay datos escritos en los campos
        function confirmarRegresar(event) {
            var codigo = document.getElementById('codigo').value;
            var nombre = document.getElementById('nombre').value;

            if (codigo || nombre) {  // Si hay algo escrito en los campos
                var confirmar = confirm('¿Estás seguro de que deseas regresar? Perderás los datos ingresados.');
                if (!confirmar) {
                    event.preventDefault();  // Cancelar el evento si el usuario no confirma
                }
            }
        }
    </script>
</head>
<body>    
    <form class="formulario"  method="post">
        <h1>Registrar Cuenta</h1>
        {% csrf_token %}
        <br>
        <label class="codigo" for="codigo">Código:</label><br>
        <input type="number" id="codigo" name="codigo" required><br><br>

        <label for="nombre">Nombre de la cuenta:</label><br>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <button type="submit">Registrar</button>
        <a href="{% url 'catalogo_cuentas' %}" onclick="confirmarRegresar(event)">
            <button type="button">Regresar</button>
        </a>
    </form>

</body>
</html>
