<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Cuenta</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'registrar_cuenta.css' %}">
    <link rel="stylesheet" href="{% static 'menu.css' %}">
    <script>
        // Función para mostrar mensaje de confirmación si hay datos escritos en los campos
        function confirmarRegresar(event) {
            var codigo = document.getElementById('codigo').value;
            var nombre = document.getElementById('nombre').value;

            if (codigo || nombre) {  // Si hay algo escrito en los campos
                var confirmar = confirm('¿Estás seguro de que deseas regresar? Perderás los datos ingresados.');
                if (!confirmar) {
                    event.preventDefault();  // Cancelar el evento si el usuario no confirma
                }
            }
        }
    </script>
</head>
<body class="cuerpo">
    <header class="contenedor">
        <div class="content">
            <div class="menu container">
                <a href="{% url 'inicio' %}" onclick="confirmarRegresar(event)" class="logo">INICIO</a>
                <input type="checkbox" id="menu"/>
                <label for="menu" class="label-menu">
                    <img src="{% static 'menu.png' %}" class="menu-icono" alt="">
                </label>
                <nav class="navbar">
                    <ul>
                        <li><a href="{% url 'catalogo_cuentas' %}" onclick="confirmarRegresar(event)">Catalogo de cuentas</a></li>
                        <li><a href=""onclick="confirmarRegresar(event)">Reportes contables</a></li>
                        <li><a href="{% url 'transacciones' %}"onclick="confirmarRegresar(event)">Transacciones</a></li>
                        <li><a href=""onclick="confirmarRegresar(event)">Metodos de costeo</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>  
</body>
<br>
<body class="cuerpo-registro">    
    <form class="formulario"  method="post">
        <h1>Registrar Cuenta</h1>
        {% csrf_token %}
        <br>
        <label class="codigo" for="codigo">Código:</label><br>
        <input type="number" id="codigo" name="codigo" required><br><br>

        <label for="nombre">Nombre de la cuenta:</label><br>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <button type="submit">Registrar</button>
        <a href="{% url 'catalogo_cuentas' %}" onclick="confirmarRegresar(event)">
            
        </a>
    </form>

</body>
</html>
