<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}    
    <link rel="stylesheet" href="{% static 'menu.css' %}">
    <title>Transacciones</title>
</head>
<body class="cuerpo">
    <header class="contenedor">
        <div class="content">
            <div class="menu container">
                <a href="{% url 'inicio' %}" class="logo">INICIO</a>
                <input type="checkbox" id="menu"/>
                <label for="menu">
                    <img src="{% static 'menu.png' %}" class="menu-icono" alt="">
                </label>
                <nav class="navbar">
                    <ul>
                        <li><a href="{% url 'catalogo_cuentas' %}">Catalogo de cuentas</a></li>
                        <li><a href="">Reportes contables</a></li>
                        <li><a href="{% url 'transacciones' %}">Transacciones</a></li>
                        <li><a href="">Metodos de costeo</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
<body>
    <h1>Gestión de Transacciones</h1>

    <!-- Tabla de transacciones -->
    <table border="1">
        <thead>
            <tr>
                <th>Código de Transacción</th>
                <th>Fecha</th>
                <th>Ver Detalles</th>
                
                
            </tr>
        </thead>
        <tbody>
            {% for transaccion in transacciones %}
            <tr class="transaccion-row">
                <td>{{ transaccion.id_transaccion }}</td> <!-- Utiliza id_transaccion en lugar de id -->
                <td class="fecha">{{ transaccion.fecha }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay transacciones registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Botón para crear nueva transacción -->
    <a href="{% url 'nueva_transaccion' %}">
        <button>Nueva Transacción</button>
    </a>
</body>
</html>



