.div-inicio{
    width: 40%;
    background-color: #6ac;
    text-align: center;    
    margin: 60px auto;
    box-shadow: 0px 0px 45px #0007;
    border-radius: 8px;
    padding-top: 10px;        
}

h1{
    text-align: center;
    margin: 20px;
    font-size: 35px;
}

p{
    text-align: center;
    margin: 10px;
    font-size: 18px;
}

.comenzar{
    background-color: #454546; /* Azul marino */
    color: white;
    font-family: sans-serif;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 15px 0 30px 0;
}