

button{
    background-color: #454546; /* Azul marino */
    color: white;
    font-family: sans-serif;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 10px 0;
}
table {
    width: 100%; /* Ajuste automático del ancho según el contenido */
    margin: 20px auto; /* Centrar la tabla horizontalmente */
    border-collapse: collapse; /* Evita espacios entre los bordes de las celdas */
    font-size: 16px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Sombra sutil para destacar la tabla */
    border-radius: 5px;
}

/* Bordes de la tabla */
table, th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

/* Fila par: color claro */
.tabla tr:nth-child(even) {
    background-color: #e6e6e6;
}

/* Fila impar: color oscuro */
.tabla tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Encabezado de la tabla */
th {
    background-color: #454546; /* Fondo azul marino */
    color: white; /* Texto blanco */
    font-weight: bold;
    
}

.fil-nombre{
    width: 70%;
}

/* Estilos para las filas */
tr {
    background-color: #f9f9f9; /* Color uniforme para todas las filas */
}

tr:hover {
    background-color: #d0e9f5; /* Azul claro cuando pasas el mouse */
}

.codigo{
    width: 27%;
}


label, select, input {
    font-weight: bold;
}

select, input[type="text"], input[type="date"] {
    border: 2px solid #8B4513; /* Color café */
    padding: 5px;
    border-radius: 4px;
}

select {
    background-color: #f9f9f9; /* Puedes ajustar el color de fondo si lo deseas */
}

input[type="date"] {
    background-color: #fdfdfd; /* Color de fondo para los campos de fecha */
}

h1{
    text-align: center;
    margin: 20px auto;
}

/* Fila par: color claro */
.tabla tr:nth-child(even) {
    background-color: #e6e6e6;
}

/* Fila impar: color oscuro */
.tabla tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.forma{
    width: 50%;
    margin: 10px auto;
}

.div-contenido{
    width: 50%;
    margin: 20px auto;
}